html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  margin: 0;
}

/* Pages */

.pages {
  height: 100%;
  margin: 10px;
  padding: 0;
}

.page {
  height: 100%;
  width: 100%;
}

/* Login Page */

.login.page {
  display: block;
}

.login.page .form {
  text-align: center;
  /* margin: auto; */
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .loginButton {
  font-size: 200%;
  letter-spacing: 3px;
  border-radius: 20px;
  margin-top: 10px;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  transition-duration: 0.4ms;
}

.login.page .loginButton:hover {
  background-color: black;
  color: white;
}

.login.page .title,
.login.page .usernameInput {
  font-weight: 100;
}

/* answer page */

.answer.page {
  display: none;
}

.answer.page .form {
  text-align: center;
  /* margin: auto; */
}

.answer.page .form .answerInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}

.answer.page .title {
  font-size: 200%;
}

.answer.page .answerInput {
  font-size: 150%;
  letter-spacing: 3px;
}

.answer.page .answerButton {
  font-size: 200%;
  letter-spacing: 3px;
  border-radius: 20px;
  margin-top: 10px;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  transition-duration: 0.4ms;
}

.answer.page .answerButton:hover {
  background-color: black;
  color: white;
}

.answer.page .answerButton:disabled {
  background-color: gray;
  border: 2px solid gray;
}

.answer.page .answerButton:disabled:hover {
  background-color: gray;
  color: unset;
}

.answer.page .title,
.answer.page .answerInput {
  font-weight: 100;
}

.answersListBox {
  text-align: center;
}

.answerList {
  list-style: none;
  text-align: center;
}

.exitButton {
  position: absolute;
  bottom: 10px;
  font-size: 100%;
  letter-spacing: 3px;
  border-radius: 20px;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  transition-duration: 0.4ms;
  left: 0;
  right: 0;
  margin: auto
}
